.home_page {
  height: 100%;

  .header {
    margin: 0 16px;
    height: 70px;
    display: flex;
    align-items: center;
  }
  .middle {
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
    height: calc(100% - 160px);
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    overflow: auto;
    .each_page {
      margin-left: 16px;
      margin-top: 20px;
      .each_page_title {
        font-size: 28px;
        color: blue;
        display: inline-block;
      }
      .each_page_title_ext {
        display: inline-block;
        margin-left: 5px;
      }
      .each_page_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; // 替代原先的space-between布局方式
      }
      .each_com {
        // 每个item
        flex: 1;
        min-height: 90px;
        background-color: #fff;
        width: calc((100% - 20px) / 2); // 这里的10px = (分布个数2-1)*间隙5px, 可以根据实际的分布个数和间隙区调整
        min-width: calc((100% - 20px) / 2); // 加入这两个后每个item的宽度就生效了
        max-width: calc((100% - 20px) / 2); // 加入这两个后每个item的宽度就生效了
        &:nth-child(2n) {
        }
        // margin-left: 16px;
        // min-height: 60px;
        // line-height: 60px;
        // display: flex;
        .each_com_title {
          width: 130px;
          margin-right: 16px;
        }
        .each_com_value {
          width: calc(100% - 50px);
          .ant-select {
            min-width: none;
            width: 100%;
          }
        }
      }
    }
  }
  .foot {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-btn {
      margin-right: 8px;
    }
  }
}
